# Ignorar el entorno virtual
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/

parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Archivos de macOS
.DS_Store

# Archivos de editor
.vscode/
*.swp
*~
*.sublime-workspace
job_descriptions.csv
archivo_filtrado.csv
updated_data_final_cleaned2.csv
Curriculum Vitae.csv
updated_data_final_cleaned.csv
Datase_ML.csv
Datase_ML2.csv